a, button {
  margin-left: 5px;
  margin-right: 5px;
}
button {
  border-radius: 5px;
}

.asides-divs {
  float: left;
  border: solid green;
  width: 28%;
  height: 400px;
  margin: 1px;
}
.asides-divs div {
  border-bottom: solid rgb(145, 255, 0) 3px;
  margin: 2px;
  padding: 3px;
  padding-bottom: 10px;
}
.asides-divs label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

#router-div {
  border: solid 5px red;
  margin-left: 15px;
}
#router-div label {
  text-decoration: underline;
}


#div1_inputs_compo3, #div2_inputs_compo3 {
  text-align: center;
  margin: 10px;
  background-color: rgb(204, 141, 212);
  border: solid yellow 3px;
}



