<div class='err-message' *ngIf='this.sErrMessage!==""'>{{this.sErrMessage}}</div>
<!-- ---------------------------------------------------------------------- -->
<div class="asides-divs">
  <!-- routerLinkActive : ensemble des classes CSS à appliquer quand
       l'URL == celle qui concerne le routerLink en question -->
  <div>
    <a routerLink="compo1"
      [routerLinkActive] = "['router-link-active']"
   >Charger : AppModule - Compo1</a>
  </div>

  <!-- Ci-dessous routerLinkActiveOptions avec {exact:true},
    car sinon routerLinkActive actif aussi quand 'compo2/bis' est dans l'URL !! -->
  <div>
    <button routerLink="compo2"
    [routerLinkActive] = "['router-link-active']"
    [routerLinkActiveOptions] = "{exact:true}"
  >Charger : AppModule - Compo2</button>
  </div>

  <!-- Solution plutôt dégueu. ci-dessous, pour disable le bouton en question,
    lorsque route correspondante déjà active(c-à-d actuelle) -->
  <div>
    <button routerLink="compo2/bis" #button2
      [routerLinkActive] = "aRouterLinkActiveCSSClasses"
      [disabled]="button2.classList.contains(aRouterLinkActiveCSSClasses)"
    >Charger : AppModule - Compo2 Bis</button>
  </div>

  <br><br>
  <div>
    <button id="connexion-btn" (click)="this.onClickConnexion()">{{this.getConnexionButtonLabel()}}</button>
    <button (click)="this.onDemandeAccesToPrivateMembersZone()"
      routerLink="membersPrivateZone"
    >
       Accéder à la zone des membres connectés
  </button>
  </div>


  <div id="test-multi-router-outlet">
    <a routerLink="test-multi-router-outlet">
        Test du MULTI &lt;router-outlet name="..."&gt;&lt;/router-outlet&gt;
    </a>
  </div>

  <div>
    <a [routerLink]='[{ outlets: { r2: ["membersPrivateZon"] } }]'>MEMB</a>
  </div>
  <router-outlet name="xx"></router-outlet>
</div>



<!-- ---------------------------------------------------------------------- -->
<div class="asides-divs">
  <div><!-- Via <a> et routerLink -->
    <a routerLink="myModule1/compo1">Charger : Module1 - Compo1</a>
  </div>

  <div><!-- Via <a> et routerLink -->
    <a routerLink="myModule1/compo2">Charger : Module1 - Compo2</a>
  </div>

  <div id="div1_inputs_compo3"><!-- Via <a> et routerLink avec params -->
    <!-- aRouterLink4 mis à jour dans le .ts, suite à changement (blur) de l'un de 2 input ci-dessous -->
    <!-- aRouterLink4 restera un tableau vide si les 2 input en question ne sont pas renseignés -->
    <a
       [routerLink]="aRouterLink4"
       [queryParams]="oRouterLink4_QueryParams"
       style="font-weight:bold;"
       (click) = 'checkRouterLinkParamsValid()'
       class="module1-compo3-where-to-click-to-send-params"
    >
      Charger : Module1 - Compo3 &nbsp;&nbsp;<small>&nbsp;&nbsp;(by routerLink)</small>
    </a><br>

    <!-- $event.target  représente le champ en question, ayant donc subit l'évènement -->
    <label>avec Param1 in url path: </label>
      <input #inputForModule1Compo3Param1
        (blur)="updateRouterLink4([$event.target.value, inputForModule1Compo3Param2.value])"/><br>
    <label>et Param2 in url path: </label>
      <input #inputForModule1Compo3Param2
        (blur)="updateRouterLink4([inputForModule1Compo3Param1.value, $event.target.value])"/><br>

    <hr>
    <label>ET avec URL QueryParam1 : </label>
      <input #inputForModule1Compo3QueryParam1
        (blur)="updateRouterLink4_QueryParams([$event.target.value, inputForModule1Compo3QueryParam2.value])"/><br>
    <label>et URL QueryParam2 : </label>
      <input #inputForModule1Compo3QueryParam2
      (blur)="updateRouterLink4_QueryParams([inputForModule1Compo3QueryParam1.value, $event.target.value])"/><br>
  </div>

  <div id="div2_inputs_compo3"><!-- Via click <button> et navigate() -->
    <button
      (click) = "loadModule1Compo3WithUrlParams(
                 [_inputForModule1Compo3Param1.value, _inputForModule1Compo3Param2.value],
                 [_inputForModule1Compo3QueryParam1.value, _inputForModule1Compo3QueryParam2.value]
      )"
      class="module1-compo3-where-to-click-to-send-params"
    >
      Charger : Module1 - Compo3&nbsp;&nbsp;<small>&nbsp;&nbsp;(by navigate(...))</small>
    </button>
    <label>avec Param1 in url path: </label><input #_inputForModule1Compo3Param1/><br>
    <label>et Param2 in url path: </label><input #_inputForModule1Compo3Param2/><br>
    <hr>
    <label>ET avec URL QueryParam1 : </label><input #_inputForModule1Compo3QueryParam1/><br>
    <label>et URL QueryParam2 : </label><input #_inputForModule1Compo3QueryParam2/><br>
  </div>
  <br>
</div>



<!-- ---------------------------------------------------------------------- -->
<div class="asides-divs" id="main-router-div">
  <label>AppModule router-outlet, voici le composant chargé :</label>
  <router-outlet></router-outlet>
</div>

<div class="asides-divs">
  <label>AppModule router-outlet 2, voici le composant chargé :</label>
  <router-outlet name="r2"></router-outlet>
</div>

<div style="font-weight:bold;">
  NE PAS OUBLIER, &lt;base href="/" /&gt; dans le index.html.
</div>

