a, button {
  margin-left: 5px;
  margin-right: 5px;
}


.asides-divs {
  float: left;
  border: solid green;
  width: 29%;
  height: 600px;
  margin: 1px;
}
.asides-divs div {
  border-bottom: solid rgb(145, 255, 0) 3px;
  margin: 2px;
  padding: 3px;
  padding-bottom: 10px;
}
.asides-divs label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

#router-div {
  border: solid 5px red;
  margin-left: 15px;
}
#router-div label {
  text-decoration: underline;
}

#div1_inputs_compo3, #div2_inputs_compo3 {
  text-align: center;
  margin: 10px;
  background-color: rgb(204, 141, 212);
  border: solid yellow 3px;
}

.err-message {
  background: red;
  color: white;
  border: 3px solid;
  padding: 5px;
}

.router-link-active {
  background: orange;
  font-weight: bold;
  font-size: 17px;
  border: ridge 2px;
  border-radius: 2px;
}


.module1-compo3-where-to-click-to-send-params {
  font-size: 1.15em;
  background-color: rgb(0, 255, 213)
}
