.asides-divs {
  float: left;
  border: solid green;
  width: 25%;
  height: 400px;
  margin: 1px;
}
.asides-divs div {
  border: solid orange 1px;
  margin: 2px;
}
.asides-divs label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}


#div_inputs_compo3 {
  text-align: center;
  margin-top: 15px;
  background-color: chocolate;
}


