/* You can add global styles to this file, and also import other style files */
button {
  border-radius: 6px;
  border: outset 4px;
}
button:active {
  border: inset 4px;
}
button:hover {
  cursor: pointer; /* La main */
}
